<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src= "../../../assets/luis.png" id="max">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Luis Fernando Aranguren</p>
    <p>Full Stack Developer Jr.</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h1>Acerca de mi ...</h1>
    <p>Soy el ingeniero Luis Fernando Aranguren.</p>
    <p>Egresado de la UBA.</p>
    <p>Parte de mi accionar profesional pasó por la educación y la evaluación de proyectos.</p>
    <p>Recientemente jubilado estoy promoviendo CONCOM, que es una organización que se dedica a la búsqueda, generación y comunicación transversal del conocimiento,
    <p>Si querés saber más sobre mi, te invito a seguir leyendo ...</p>
  </div>
</div>

