<div class="row">
  <h1>Hard and Soft skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
      <circle-progress
      [percent]="80"
      [radius]="100"
      [title]="'HTML'"
      [titleFontSize]="'3em'"
      [titleColor]="'#ff0000'"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'#0000ff'"
      [innerStrokeColor]="'#ff0000'"
      [animation]="true"
      [animationDuration]="600"
      ></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [title]="'CSS'"
    [titleFontSize]="'3em'"
    [titleColor]="'#ff0000'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="3"
    [outerStrokeColor]="'#0000ff'"
    [innerStrokeColor]="'#ff0000'"
    [animation]="true"
    [animationDuration]="600"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="75"
  [radius]="100"
  [title]="'JS'"
  [titleFontSize]="'3em'"
  [titleColor]="'#ff0000'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#0000ff'"
  [innerStrokeColor]="'#ff0000'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'EQUIPO'"
  [titleFontSize]="'1.3em'"
  [titleColor]="'#FF0000'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#FFA500'"
  [innerStrokeColor]="'#FF0000'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'COLABORACIÓN'"
  [titleFontSize]="'1.3em'"
  [titleColor]="'#FF0000'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#FFA500'"
  [innerStrokeColor]="'#FF0000'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
  <circle-progress
  [percent]="90"
  [radius]="100"
  [title]="'COMUNICACIÓN'"
  [titleFontSize]="'1.3em'"
  [titleColor]="'#ff0000'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="3"
  [outerStrokeColor]="'#FFA500'"
  [innerStrokeColor]="'#FF0000'"
  [animation]="true"
  [animationDuration]="600"
  ></circle-progress>
</div>
</div>

